*
{
    margin: 0%;
    padding: 0%;
}
header
{  padding:2rem;
    color:azure;
    text-align: center;
    background-color:black;
    width: 100%;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}
.about
{ margin-top: 20px;
    text-align: center;
}
section
{
    max-width: 800px;
    margin:auto;
    padding:2rem;
}
h2 {
  margin-bottom: 1rem;
  color: #222;
}

.project-card {
  background-color: rgb(225, 221, 221);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-bottom: 1rem;
}

footer {
  text-align: center;
  background-color: #222;
  color: white;
  padding: 1rem;
  margin-top: 2rem;
}
.contact
{
    text-align: center;
}
